# Data together with Wonder Week data

## Import stuff

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load data

bt = baby tracker & ww = wonder week

In [2]:
bt_data = pd.read_csv('./day_sleep_feed_diaper.csv')

In [3]:
ww_data = pd.read_csv('./wonder_week_data.csv')

## Fix the data

In [13]:
# merge into one data frame
data = bt_data.merge(ww_data, left_on='Date', right_on='date')
data

,Date,Duration_sleep,Times_sleep,Duration_feed,Times_feed,Times_diaper,date,status
0,2018-06-18,837,6,89,12,9,2018-06-18,0
1,2018-06-19,956,6,74,10,10,2018-06-19,0
2,2018-06-20,975,7,67,12,6,2018-06-20,0
3,2018-06-21,894,6,83,13,9,2018-06-21,0
4,2018-06-22,895,6,77,14,8,2018-06-22,0
5,2018-06-23,836,8,85,14,9,2018-06-23,0
6,2018-06-24,1016,6,80,14,7,2018-06-24,0
7,2018-06-25,976,7,97,14,9,2018-06-25,0
8,2018-06-26,897,9,107,15,7,2018-06-26,0
9,2018-06-27,1033,8,117,13,8,2018-06-27,0
10,2018-06-28,794,6,120,14,8,2018-06-28,0
11,2018-06-29,915,6,139,14,10,2018-06-29,0
12,2018-06-30,1018,6,136,16,8,2018-06-30,0
13,2018-07-01,902,7,123,15,7,2018-07-01,0
14,2018-07-02,769,6,107,10,7,2018-07-02,0
15,2018-07-03,1011,7,117,13,7,2018-07-03,0
16,2018-07-04,864,8,132,15,7,2018-07-04,0
17,2018-07-05,863,8,132,13,6,2018-07-05,0
18,2018-07-06,913,7,120,13,5,2018-07-06,0
19,2018-07-07,944,9,152,13,7,2018-07-07,0
20,2018-07-08,825,7,120,14,7,2018-07-08,0
21,2018-07-09,923,7,128,15,7,2018-07-09,0
22,2018-07-10,905,8,118,15,8,2018-07-10,0
23,2018-07-11,682,7,149,16,8,2018-07-11,0
24,2018-07-12,714,8,115,12,7,2018-07-12,0
25,2018-07-13,858,7,136,12,7,2018-07-13,0
26,2018-07-14,799,7,101,13,10,2018-07-14,0
27,2018-07-15,1045,6,131,14,13,2018-07-15,0
28,2018-07-16,648,6,125,13,10,2018-07-16,0
29,2018-07-17,882,9,98,13,9,2018-07-17,0
...,...,...,...,...,...,...,...,...
222,2019-01-26,700,4,16,5,7,2019-01-26,0
223,2019-01-27,900,4,21,6,5,2019-01-27,0
224,2019-01-28,803,4,13,4,6,2019-01-28,0
225,2019-01-29,766,4,15,5,6,2019-01-29,0
226,2019-01-30,696,5,14,3,6,2019-01-30,0
227,2019-01-31,733,4,13,4,6,2019-01-31,0
228,2019-02-01,961,6,15,4,6,2019-02-01,0
229,2019-02-02,573,4,11,3,5,2019-02-02,0
230,2019-02-03,826,5,13,3,8,2019-02-03,0
231,2019-02-04,717,4,14,3,5,2019-02-04,0
232,2019-02-05,785,3,12,3,6,2019-02-05,0
233,2019-02-06,854,5,14,4,4,2019-02-06,0
234,2019-02-07,804,4,14,4,5,2019-02-07,1
235,2019-02-08,736,5,12,3,6,2019-02-08,1
236,2019-02-09,756,5,11,3,7,2019-02-09,1
237,2019-02-10,716,4,13,3,6,2019-02-10,1
238,2019-02-11,791,4,11,3,6,2019-02-11,1
239,2019-02-12,761,5,12,3,6,2019-02-12,1
240,2019-02-13,781,4,10,3,5,2019-02-13,1
241,2019-02-14,737,5,16,4,6,2019-02-14,1
242,2019-02-15,752,5,14,3,6,2019-02-15,1
243,2019-02-16,665,3,11,3,6,2019-02-16,1
244,2019-02-17,826,5,13,3,6,2019-02-17,1
245,2019-02-18,698,5,7,2,7,2019-02-18,1
246,2019-02-19,755,4,10,3,7,2019-02-19,1
247,2019-02-20,758,3,7,2,5,2019-02-20,1
248,2019-02-21,875,4,7,2,7,2019-02-21,1
249,2019-02-22,713,3,3,1,5,2019-02-22,1
250,2019-02-23,743,4,6,2,8,2019-02-23,1
251,2019-02-24,586,2,4,1,1,2019-02-24,1

In [15]:
# drop column that we do not need
data = data.drop(['date'], axis=1)
data.head(3)

,Date,Duration_sleep,Times_sleep,Duration_feed,Times_feed,Times_diaper,status
0,2018-06-18,837,6,89,12,9,0
1,2018-06-19,956,6,74,10,10,0
2,2018-06-20,975,7,67,12,6,0

STATUS:
0 = ok,
1 = bad,
2 = happy,
3 = worse

In [ ]:
## Look at correlations both in graph and on heatmaps etc...